<h1>Editar asignación</h1>

<div>
  <%= link_to "Ver detalles de asignación", @appoint, class:"btn btn-primary" %> |
  <%= link_to "Regresar al listado de asignaciones", appoints_path, class:"btn btn-warning" %>
</div>
<br>
<%= render "form", appoint: @appoint %>