<h1>Editar color</h1>

<div>
  <%= link_to "Ver detalles de color", @color, class:"btn btn-primary" %> |
  <%= link_to "Regresar al listado de colores", colors_path, class:"btn btn-warning" %>
</div>
<br>
<%= render "form", color: @color %>
