<h1>Editar tejido</h1>

<div>
  <%= link_to "Ver detalles de tejido", @crochet, class:"btn btn-primary" %> |
  <%= link_to "Regresar al listado de tejidos", crochets_path, class:"btn btn-warning" %>
</div>
<br>
<%= render "form", crochet: @crochet %>