<h1>Editar material</h1>

<div>
  <%= link_to "Ver detalles de material", @material, class:"btn btn-primary" %> |
  <%= link_to "Regresar al listado de materiales", materials_path, class:"btn btn-warning" %>
</div>
<br>
<%= render "form", material: @material %>
